.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &-header {
    background: #0067a3;
  }

  &-main {
    background: #0079bf;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &-footer {
    background: #0067a3;
  }
}
